/Food-Delivery-Project/admin/node_modules
/Food-Delivery-Project/backend/node_modules
/Food-Delivery-Project/frontend/node_modules
/Food-Delivery-Project/backend/.env

/Video-Conferencing-App/node_modules
/Video-Conferencing-App/.env